@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap");

body {
  font-family: "Hind Siliguri", sans-serif;
}
/* Loader styles */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #fd7e14;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
